<div ng-controller="SingleTemplateCtrl">
    <div class="single single-large-font-size single-1 col-lg-12">
    	<h1>o BGM</h1>

    	<hr/>

        <div class="gallery">
            <figure>
              <a href="dist/img/infografika.jpg">
                  <img class="img-responsive" src="dist/img/infografika.jpg" alt="" />
              </a>
            </figure>
        </div>
    </div>

    <!-- <div class="single col-lg-11">
        <div class="organizer col-lg-6">
            <div class="col-left">
                <p class="text-bg">Organizator:</p>
                <img src="dist/img/organizator.jpg">
            </div>
            <div class="col-right">
                <h1>
                    DANIEL <br/>
                    <i>GOSE*</i>
                </h1>
                <p class="font-semi-bold">
                    unikatowa mieszanka niebanalnie skomponowanych składników, słonawy i kwaskowy, intrygująco orzeźwia | inspiruje i kreuje | intuicja pomaga mu spełniać marzenia | chce, aby BGM stało się marką rozpoznawalną na świecie
                </p>
                <p class="font-light">
                    *[rzadki styl piwny stworzony w miejscowości Goslar w Niemczech, przez którą przepływa rzeka Gose, słono-kwaśne, lekkie, orzeźwiające]
                </p>
            </div>
        </div>
        <div class="col-lg-6">
        <div class="for-media col-left">
            <p class="text-bg">Dla mediów:</p>
            <h2>
                Media Pack <br/>
                <i>Logo BGM, artykuł, zdjęcia, opis | 107 kb | <a href="#">pobierz</a></i>
            </h2>
        </div>
        <div class="col-left">
            <p class="text-bg">Partnerzy:</p>
            <img src="dist/img/partner1.png">
        </div>
        </div>
    </div> -->
</div>