<div ng-controller="TileTemplateCtrl">
	<div class="tile-section tile-section-1">
		<h1>Beer Is Art</h1>

		<figure>
			<a href="#">
				<img src="dist/img/beer-is-art/1.jpg">
			</a>
		</figure>
		<figure>
			<a href="#">
				<img src="dist/img/beer-is-art/2.jpg">
			</a>
		</figure>
		<figure>
			<a href="#">
				<img src="dist/img/beer-is-art/3.jpg">
			</a>
		</figure>
		<figure>
			<a href="#">
				<img src="dist/img/beer-is-art/4.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/beer-is-art/petit-pati">
				<img src="dist/img/beer-is-art/5.jpg">
			</a>
		</figure>
	</div>
</div>