<div ng-controller="TileTemplateCtrl">
	<div class="tile-section tile-section-1">
		<h1>Browary zagraniczne</h1>

		<figure>
			<a href="/{{ lang }}/breweries/stone-brewing-co">
				<img src="dist/img/beer1.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/stone-brewing-berlin">
				<img src="dist/img/beer2.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/baird-beer">
				<img src="dist/img/beer3.jpg">
			</a>
		</figure>

	</div>
	<div class="tile-section tile-section-2">
		<h1>Browary polskie</h1>

		<figure>
			<a href="/{{ lang }}/breweries/brokreacja">
				<img class="foto" src="dist/img/foto1.jpg">
				<div class="layer"><img src="dist/img/biglogotype1.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/nepomucen">
				<img class="foto" src="dist/img/foto2.jpg">
				<div class="layer"><img src="dist/img/biglogotype2.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/birbant">
				<img class="foto" src="dist/img/foto3.jpg">
				<div class="layer"><img src="dist/img/biglogotype3.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/fabrica-rara">
				<img class="foto" src="dist/img/foto4.jpg">
				<div class="layer"><img src="dist/img/biglogotype4.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/reden">
				<img class="foto" src="dist/img/foto5.jpg">
				<div class="layer"><img src="dist/img/biglogotype5.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/piwojad">
				<img class="foto" src="dist/img/foto6.jpg">
				<div class="layer"><img src="dist/img/biglogotype6.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/hopkins">
				<img class="foto" src="dist/img/foto7.jpg">
				<div class="layer"><img src="dist/img/biglogotype7.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/piwoteka">
				<img class="foto" src="dist/img/foto8.jpg">
				<div class="layer"><img src="dist/img/biglogotype8.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/doctor-brew">
				<img class="foto" src="dist/img/foto9.jpg">
				<div class="layer"><img src="dist/img/biglogotype9.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/kraftwerk">
				<img class="foto" src="dist/img/foto10.jpg">
				<div class="layer"><img src="dist/img/biglogotype10.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/profesja">
				<img class="foto" src="dist/img/foto11.jpg">
				<div class="layer"><img src="dist/img/biglogotype11.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/hopium">
				<img class="foto" src="dist/img/foto12.jpg">
				<div class="layer"><img src="dist/img/biglogotype12.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/beer-bros">
				<img class="foto" src="dist/img/foto13.jpg">
				<div class="layer"><img src="dist/img/biglogotype13.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/pinta">
				<img class="foto" src="dist/img/foto14.jpg">
				<div class="layer"><img src="dist/img/biglogotype14.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/szalpiw">
				<img class="foto" src="dist/img/foto15.jpg">
				<div class="layer"><img src="dist/img/biglogotype15.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/breweries/roch">
				<img class="foto" src="dist/img/foto16.jpg">
				<div class="layer"><img src="dist/img/biglogotype16.png"></div>
				<figcaption>pokaż</figcaption>
			</a>
		</figure>

	</div>
</div>