<div ng-controller="BuyTicketTemplateCtrl">
    <div class="single col-lg-12">
        <div class="col-lg-6">
            <h1>Beer Geek Madness 4</h1>
            <p class="event-info">Finał 2.04 / Wrocław / Zaklęte Rewiry</p>
            <p class="text-bg">Formuła: <b>Płacisz raz degustujesz ile chcesz!</b></p>
        </div>
    </div>

    <div class="single single-2 col-lg-12">

        <div class="package col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <h2>
                        <small>Pakiet</small>
                        <br/>
                        Beer Geek
                    </h2>
                    <span>w pakiecie:</span>
                    <p class="text-bg small">Piwo podczas finału</p>
                    <p class="plus">+</p>
                    <p class="text-bg small">Szkło Rastal Luttich</p>

                    <p class="price">
                        <small>cena:</small>119zł
                        <a href="#" class="btn">Kup pakiet</a>
                    </p>
                </div>
                <div class="col-lg-6 border-right">
                    <img class="glass-1" src="dist/img/buy-ticket/glass1.jpg">
                </div>
            </div>
            <div class="row item">
                <div class="item-text col-lg-6">
                    <p class="title">
                        Koszulka
                        <br/>
                        <b>Miladelic</b>
                    </p>

                    <p>
                        damska<br/>
                        ręcznie szyta<br/>
                        xs, s, m, l, xs
                    </p>
                </div>
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/tshirt-woman1.jpg">
                          <img src="dist/img/buy-ticket/tshirt-woman1.jpg" alt="" />
                      </a>
                    </figure>
                </div>
            </div>
            <div class="row item">
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/tshirt-man1.jpg">
                          <img src="dist/img/buy-ticket/tshirt-man1.jpg" alt="" />
                      </a>
                    </figure>
                </div>
                <div class="item-text col-lg-6">
                    <p class="title">
                        Koszulka
                        <br/>
                        <b>Miladelic</b>
                    </p>

                    <p>
                        męska<br/>
                        ręcznie szyta<br/>
                        xs, s, m, l, xs
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="item-text col-lg-6">
                    <p class="title">
                        Szkło
                        <br/>
                        <b class="red">Rastal Lüttich</b>
                    </p>

                    <p>
                        0,4 l
                    </p>
                </div>
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/beer1.jpg">
                          <img src="dist/img/buy-ticket/beer1.jpg" alt="" />
                      </a>
                    </figure>
                </div>
            </div>
        </div>

        <!-- package premium start -->
        <div class="package package-premium col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="premium">
                        <small>Pakiet</small>
                        <br/>
                        Geek Madness
                    </h2>
                    <span>w pakiecie:</span>
                    <p class="text-bg small">Piwo podczas finału</p>
                    <p class="plus">+</p>
                    <p class="text-bg small">Ekskluzywne Szkło Teku </p>
                    <p class="plus">+</p>
                    <p class="text-bg small">Koszulka festiwalowa <br/> dwa wzory do wyboru </p>

                    <p class="price">
                        <small>cena:</small>149zł
                        <a href="#" class="btn premium">Kup pakiet</a>
                    </p>
                </div>
                <div class="col-lg-6 border-right">
                    <img class="glass-2" src="dist/img/buy-ticket/glass2.jpg">
                </div>
            </div>
            <div class="row item">
                <div class="item-text col-lg-6">
                    <p class="title">
                        Koszulka
                        <br/>
                        <b>Milestone</b>
                    </p>

                    <p>
                        damska<br/>
                        ręcznie szyta<br/>
                        xs, s, m, l, xs
                    </p>
                </div>
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/tshirt-woman2.jpg">
                          <img src="dist/img/buy-ticket/tshirt-woman2.jpg" alt="" />
                      </a>
                    </figure>
                </div>
            </div>
            <div class="row item">
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/tshirt-man2.jpg">
                          <img src="dist/img/buy-ticket/tshirt-man2.jpg" alt="" />
                      </a>
                    </figure>
                </div>
                <div class="item-text col-lg-6">
                    <p class="title">
                        Koszulka
                        <br/>
                        <b>Milestone</b>
                    </p>

                    <p>
                        męska<br/>
                        ręcznie szyta<br/>
                        xs, s, m, l, xs
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="item-text col-lg-6">
                    <p class="title">
                        Szkło ekskluzywne
                        <br/>
                        <b class="red">Rastal Teku</b>
                    </p>

                    <p>
                        0,4 l
                    </p>
                </div>
                <div class="item-img col-lg-6">
                    <figure>
                      <a href="dist/img/buy-ticket/beer2.jpg">
                          <img src="dist/img/buy-ticket/beer2.jpg" alt="" />
                      </a>
                    </figure>
                </div>
            </div>
        </div>
        <!-- package premium end -->
    </div>
</div>