<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5&appId=695329997158356";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div ng-controller="SingleTemplateCtrl">
    <div class="single single-large-font-size single-1 col-lg-6">
    	<h1>Kontakt</h1>

    	<hr/>

        <p>
            <small><b>Telefon kontaktowy:</b></small>
            <br/>
            <i>+48 533 331 750</i> 
        </p>
        <p>
            <small><b>E-mail:</b></small>
            <br/>
            <i><a href="mailto:kontakt@beergeekMadness.com">kontakt@beergeekMadness.com</a></i>
        </p>
        <p>
            <small><b>E-mail dla mediów:</b></small>
            <br/>
            <i><a href="mailto:media@beergeekMadness.com">media@beergeekMadness.com</a></i>
        </p>
        <p>
            <div class="fb-page" data-href="https://facebook.com/beergeekmadness" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://facebook.com/beergeekmadness"><a href="https://facebook.com/beergeekmadness">Beer Geek Madness</a></blockquote></div></div>
        </p>
    </div>

</div>