<div ng-controller="FinalTemplateCtrl">
	<div class="col col-left">
		<h1>
			Beer <br/>
			Geek <br/>
			Madness <br/>
			4 <b><i>finał</i></b>
		</h1>

		<p class="event-info">2.04 / Wrocław / Zaklete Rewiry </p>

		<div class="wrap">
			
			<div class="text-bg">Formuła: <b>Płacisz raz, degustujesz ile chcesz!</b></div>

			<div class="col-sm-3 col-xs-6">
				<i>16</i>
				<span>browarów <br/> z Polski</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>3</i>
				<span>browary zagraniczne</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>16</i>
				<span>piwnych premier</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>16</i>
				<span>ekskluzywnych premier piwnych <br/>z zagranicy</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>3<span class="zero">000</span></i>
				<span>beer geeków</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>12<span class="zero">000</span></i>
				<span>litrów piwa</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>100</i>
				<span>topowych butelek piwa</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>43</i>
				<span>piwnych celebrytów</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>3</i>
				<span>sceny muzyczne</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>30</i>
				<span>artystów</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>6</i>
				<span>food tracków</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<i>8</i>
				<span>godzin szaleństwa</span>
			</div>
		</div>	
		<p class="clear"></p>
		<a href="/{{ lang }}/buy-ticket" class="btn">Kup bilet &gt;</a>
	</div>

	<div class="col col-right">
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype1.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype2.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype3.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype4.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype5.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype6.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype7.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype8.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype9.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype10.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype11.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype12.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype13.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype14.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype15.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype16.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype17.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype18.png"></div>
		<div class="col-sm-3 col-xs-6 logotype"><img src="dist/img/logotype19.png"></div>
	</div>
</div>