<div ng-controller="TileTemplateCtrl">
	<div class="tile-section">
		<h1>Gastro</h1>

		<figure>
			<a href="/{{ lang }}/gastro/happy-little-truck">
				<img src="dist/img/gastro1.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/brat-wursty">
				<img src="dist/img/gastro2.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/zz-top">
				<img src="dist/img/gastro3.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/osiem-misek">
				<img src="dist/img/gastro4.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/pasibus">
				<img src="dist/img/gastro5.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/champions-food">
				<img src="dist/img/gastro6.jpg">
			</a>
		</figure>
		<figure>
			<a href="/{{ lang }}/gastro/zaklete-rewiry">
				<img src="dist/img/gastro7.jpg">
			</a>
		</figure>

	</div>
</div>