<div ng-controller="HomeTemplateCtrl">
	<div class="tile tile-description">
		<h1>Beer Geek Madness 4</h1>
		<p class="full-date"><time datetime="2016-30-03T20:00">30.03-2.04</time> <br/> Wrocław</p>
		<h2>Finał</h2>
		<p>2.04 - Wrocław <br/>
		Zaklęte rewiry</p>
		<div class="box">
			<p>
				<i>Formuła</i> <br>
				Płacisz raz, <br>
				degustujesz <br>
				ile chcesz!
			</p>
		</div>
		<a href="/{{ lang }}/buy-ticket" class="btn">Kup bilet &gt;</a>
	</div>
	<a href="/{{ lang }}/breweries/stone-brewing-co"><div class="tile tile-1"><span>USA</span></div></a>
	<a href="/{{ lang }}/breweries/stone-brewing-berlin"><div class="tile tile-2"><span>Berlin</span></div></a>
	<a href="/{{ lang }}/final"><div class="tile tile-3"><span>Wrocław</span></div></a>
	<a href="/{{ lang }}/breweries/baird-beer"><div class="tile tile-4"><span>Japonia</span></div></a>
</div>