<div ng-controller="SingleTemplateCtrl">
    <div class="single single-large-font-size single-1 col-lg-6">
    	<h1>Jak dojechać</h1>

    	<hr/>

        <p>
            <small>Adres:</small>
            <br/>
            <b>Wrocław, Krakowska 100, Zaklęte Rewiry</b>
        </p>
        <p>
            <small>Przystanek:</small>
            <br/>
            <b>KRAKOWSKA (Centrum Handlowe)</b>
        </p>
        <p>
            <small>Autobus:</small> <b>114, 900L, 901</b>
        </p>
        <p>
            <small>Tramwaj:</small> <b>3, 5</b>
        </p>
        <p>
            <small>Autobus nocny:</small> <b>243</b>
        </p>
        <!-- <p>
            <small>Taxi:</small> <b>Chopper Taxi, -10% ceny na hasło BGM</b>
        </p> -->
    </div>

    <div class="single single-2 col-lg-6">
        <div ng-controller="HowToGetCtrl">
            <div id="how-to-get-map" class="map-canvas">
               
            </div>
        </div>
    </div>
</div>