<div ng-controller="SingleTemplateCtrl">
    <div class="single single-large-font-size single-1 col-lg-6">
    	<h1>Jak dojechać</h1>

    	<hr/>

        <p>
            <small>Adres:</small>
            <br/>
            <b>Wrocław, Krakowska 100, Zaklęte Rewiry</b>
        </p>
        <p>
            <small>Przystanek:</small>
            <br/>
            <b>KRAKOWSKA (Centrum handlowe)</b>
        </p>
        <p>
            <small>Autobus:</small> <b>4, 5, 6</b>
        </p>
        <p>
            <small>Tramwaj:</small> <b>3, 4, 5, 6</b>
        </p>
        <p>
            <small>Autobus nocny:</small> <b>210, 205, 206</b>
        </p>
        <p>
            <small>Taxi:</small> <b>Chopper Taxi, -10% ceny na hasło BGM</b>
        </p>
    </div>

    <div class="single single-2 col-lg-6">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11915.075348151975!2d17.030287008443445!3d51.11148526401435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1455310847990" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>