<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > ART Dominik Morańda</span>

    	<h1>ART Dominik Morańda</h1>

    	<hr/>

    	<p><a target="_blank" href="https://www.facebook.com/dominik.moranda.art/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / dominik.moranda.art</a></p>
    	<p><small>na BGM: </small>Dominik przedstawi wernisaż "Odmienne stany świadomości". Tytuł nieprzypadkowy - inspirowany filmem Kena Russella z 1980 roku. Bo jak twierdzi Dominik malarstwo jest dla niego jak narkotyk dla Eddie'go Jessup'a, głównego bohatera filmu.
      </p>
    	<p><small>Opis:</small>
    		<br/>
    		Dominik zajmuje się malarstwem od 2006 roku. W swoich pracach przedstawia obraz współczesnego świata i człowieka, który musi się w nim odnaleźć. Jak sam mówi, chciałby aby jego obrazy poza walorami estetycznymi skłaniały widza do refleksji. 
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda1.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda2.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda3.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda4.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda5.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/art-dominiki-moranda6.jpg">
              <img src="dist/img/beer-is-art/art-dominiki-moranda6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>