<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Kropka Design</span>

    	<h1>Kropka Design</h1>

    	<hr/>

    	<p><a target="_blank" href="https://www.facebook.com/kropka.handmade/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / kropka.handmade</a></p>
    	<p><small>na BGM: </small>pojawi się ze swoimi unikalnymi wyrobami</p>
    	<p><small>Opis:</small>
    		<br/>
    		Pod Kropka design kryje się Monika Romańczyk, która uważa, że do życia tak naprawdę nie są potrzebne pieniądze, a jedynie usługi oraz produkty. Dlatego wszystkie swoje wybory najchętniej WYMIENIA na to, czego akurat potrzebuje. Monika maluje na tkaninach, czystej bawełnie polskich producentów. Używa pędzelka i farb na bazie wody. Spod jej rąk wychodzą poduszki, torby i koszulki z niepowtarzalnymi wzorami. 
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_1.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_2.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_3.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_4.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_5.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-kropka_6.jpg">
              <img src="dist/img/beer-is-art/bgm-art-kropka_6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>