<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Miladelic</span>

    	<h1>Miladelic</h1>

    	<hr/>

      <p><small>Www:</small> <a target="_blank" href="http://bgm-art-miladelic_.com/">http://bgm-art-miladelic_.com/</a> <small>&</small> <a target="_blank" href="http://bankowska.eu/">http://bankowska.eu/</a></p>
    	<p><a target="_blank" href="https://www.facebook.com/bgm-art-miladelic_pl/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / miladelicpl</a></p>
    	<p><small>na BGM: </small>pojawi się ze swoimi autorskimi koszulkami</p>
    	<p><small>Opis:</small>
    		<br/>
    		Miladelic, czyli Małgorzata Bańkowska. Tworzy unikalne, ręcznie malowane ubrania dla osób ceniących sobie indywidualizm oraz oryginalne wzornictwo. Jej prace to nie tylko malarstwo czy grafika, ale również rzeźba, malowidła ścienne i dekor. Miladelic jest autorką grafiki na oficjalne koszulki BGM4.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_1.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_2.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_3.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_4.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_5.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-miladelic_6.jpg">
              <img src="dist/img/beer-is-art/bgm-art-miladelic_6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>