<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Petit Pati</span>

    	<h1>Petit Pati</h1>

    	<hr/>

    	<p><small>Lokalizacja:</small> Pl. Kościuszki 5, Wrocław</p>
      <p><small>Www:</small> <a target="_blank" href="http://www.petitpati.com/">www.petitpati.com/</a></p>
    	<p><small>Fb:</small> <a target="_blank" href="http://facebook.com/petitpatipl">fb.com/petitpatipl</a></p>
    	<p><small>na BGM:</small> na finale ekipa Petit Pati będzie strzygła, goliła i stylizowała</p>
    	<p><small>Krok milowy:</small>
    		<br/>
    		Wciąż jesteśmy „raczkującym” Browarem, jednak z każdym dniem stawiamy coraz większe kroki. Zwycięstwo na BGM3 dało nam „pozytywnego kopa”, a rok 2016  będzie rokiem wyzwań, ciężkiej <br/> pracy i okazją do kolejnych kroków milowych.
    	</p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		Wciąż jesteśmy „raczkującym” Browarem, jednak z każdym dniem stawiamy coraz większe kroki. Zwycięstwo na BGM3 dało nam „pozytywnego kopa”, a rok 2016  będzie rokiem wyzwań, ciężkiej <br/> pracy i okazją do kolejnych kroków milowych.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/petitpati1.jpg">
              <img src="dist/img/beer-is-art/petitpati1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati2.jpg">
              <img src="dist/img/beer-is-art/petitpati2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati3.jpg">
              <img src="dist/img/beer-is-art/petitpati3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati4.jpg">
              <img src="dist/img/beer-is-art/petitpati4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati5.jpg">
              <img src="dist/img/beer-is-art/petitpati5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati6.jpg">
              <img src="dist/img/beer-is-art/petitpati6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>