<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Petit Pati Barber Shop</span>

    	<h1>Petit Pati Barber Shop</h1>

    	<hr/>

    	<p><small>Lokalizacja:</small> Pl. Kościuszki 5, Wrocław</p>
      <p><small>Www:</small> <a target="_blank" href="http://www.petitpati.com/">www.petitpati.com/</a></p>
    	<p><a target="_blank" href="https://www.facebook.com/petitpatipl/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / petitpatipl</a></p>
    	<p><small>na BGM: </small>ekipa Petit Pati będzie strzygła, goliła i stylizowała</p>
    	<p><small>Opis:</small>
    		<br/>
    		Pati, Tomek i cała ekipa fantastycznych barberów. Klasyczne fryzjerstwo i stare rzemiosło. Prostota, klasyka, elegancja - żadnych udziwnień. 100% old school. Opiekują się męskimi włosami, brodami i wąsami. Mają bzika na punkcie Freak Show, cyrków lat 50', gabinetów i muzeów osobliwości, nadgryzionych zębem czasu dziwactw, staroci, staroci i jeszcze raz staroci. Uprawiają totalne zbieractwo.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/petitpati1.jpg">
              <img src="dist/img/beer-is-art/petitpati1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati2.jpg">
              <img src="dist/img/beer-is-art/petitpati2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati3.jpg">
              <img src="dist/img/beer-is-art/petitpati3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati4.jpg">
              <img src="dist/img/beer-is-art/petitpati4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati5.jpg">
              <img src="dist/img/beer-is-art/petitpati5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/petitpati6.jpg">
              <img src="dist/img/beer-is-art/petitpati6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>