<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Piwne kosmetyki Saela</span>

    	<h1>Piwne kosmetyki Saela</h1>

    	<hr/>

      <p><small>Www: </small>http://piwnekosmetyki.pl/</p>
    	<p><a target="_blank" href="https://www.facebook.com/saelapl/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / saelapl</a></p>
    	<p><small>na BGM: </small>będzie dostępna szeroka gama piwnych kosmetyków, wśród nich m.in. szampony, mleczka, mydła, maseczki.</p>
    	<p><small>Opis:</small>
    		<br/>
    		Produkcja Oryginalnych Kosmetyków Piwnych SAELA sięga roku 1999. Jest efektem wieloletnich tradycji i doświadczeń czeskiego piwowarstwa. Piwo jest źródłem witamin z grupy B, mikroelementów i minerałów. Elementy te wyraźnie wspomagają regenerację skóry. Chmiel, z którego powstaje piwo, oczyszcza skórę, koi i łagodzi. Stosowanie kosmetyków piwnych wpływa pozytywnie nie tylko na skórę ale także na samopoczucie. Wszystkie kosmetyki wytwarzane są ręcznie, w małej, czeskiej manufakturze. Zawierają duże ilości piwa, chmielowego ekstraktu i drożdży piwowarskich.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela1.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela2.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela3.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela4.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela4.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela5.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela5.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/piwne-kosmetyki-saela6.jpg">
              <img src="dist/img/beer-is-art/piwne-kosmetyki-saela6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>