<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/beer-is-art">Beer is art</a> > Scatty Creative Art</span>

    	<h1>Scatty Creative Art</h1>

    	<hr/>

    	<p><a target="_blank" href="https://www.facebook.com/scattycreative/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / scattycreative</a></p>
    	<p><small>na BGM: </small>przedstawi swoje prace wydrukowane na dużych formatach. Jedna
      z prac będzie nawiązywać do festiwalu BGM i będzie można ją
      zlicytować.
      </p>
    	<p><small>Opis:</small>
    		<br/>
    		Fotograf i grafik artystyczny. Scatty zajmuje się tworzeniem obrazu
        kreatywnego oraz wykonuje sesje zdjęciowe i prace graficzne. W jej
        pracach dominuje surrealizm. Klimat niczym z horroru jest nieodłącznym
        elementem tak zwanego "Dark Art'u", który ją fascynuje. Tytuł
        wernisażu to "Beautiful Nightmare". Obrazy mają zaskakiwać odbiorcę a
        nawet przerażać. Oddziaływać na emocje w taki sposób, aby widz
        zapamiętał daną pracę. Koszmary zawsze są zapamiętywane, a Scatty
        przedstawi je dodatkowo w "piękny" sposób.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-monika_1.jpg">
              <img src="dist/img/beer-is-art/bgm-art-monika_1.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-monika_2.jpg">
              <img src="dist/img/beer-is-art/bgm-art-monika_2.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-monika_3.jpg">
              <img src="dist/img/beer-is-art/bgm-art-monika_3.jpg" alt="" />
          </a>
        </figure>
        <figure>
          <a href="dist/img/beer-is-art/bgm-art-monika_4.jpg">
              <img src="dist/img/beer-is-art/bgm-art-monika_4.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>