<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/gastro">Gastro</a> > Champions Food</span>

    	<h1>Champions Food</h1>

    	<!-- <h2>
    		<small>Premierowe danie festiwalowe</small>
    		<br/>
    		Kanapka Madness!
    		<p>Pieczywo takie siakie owakie, z tym i tamtym, ostre że chej, a pyszne, że ja cię kręcę</p>
    	</h2> -->

    	<hr/>

    	<p><small>Jedzenie: </small>food truck</p>
      <p><small>Www: </small> <a target="_blank" href="http://championsfood.pl/">http://championsfood.pl/</a>
    	<p><a target="_blank" href="http://facebook.com/ChampionsFoodPL"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / ChampionsFoodPL</a></p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		Uwaga – tylko dla prawdziwych mistrzów! Champions food to burgery dla najlepszych. W ich ofercie znajdziecie standardowe burgery, burgery vege i „wyczesane mięso”. Zadebiutowali w październiku 2015, ale już mają grono wiernych burgerożerców i smakoszy rwanego mięsa.
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/gastro/champions-food1.jpg">
              <img src="dist/img/gastro/champions-food1.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/champions-food2.jpg">
              <img src="dist/img/gastro/champions-food2.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/champions-food3.jpg">
              <img src="dist/img/gastro/champions-food3.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/champions-food4.jpg">
              <img src="dist/img/gastro/champions-food4.jpg" alt="" />
          </a>
        </figure>

      </div>
    </div>
</div>