<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/gastro">Gastro</a> > Happy Little Truck</span>

    	<h1>Happy Little Truck</h1>

    	<!-- <h2>
    		<small>Premierowe danie festiwalowe</small>
    		<br/>
    		Kanapka Madness!
    		<p>Pieczywo takie siakie owakie, z tym i tamtym, ostre że chej, a pyszne, że ja cię kręcę</p>
    	</h2> -->

    	<hr/>

    	<p><small>Jedzenie:</small> pizzeria</p>
      <p><small>Www:</small> <a target="_blank" href="http://happylittletruck.com/about">http://happylittletruck.com/about</a></p>
    	<p><a target="_blank" href="http://facebook.com/happylittletruck"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / happylittletruck</a></p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		Happy Little Truck serwuje pizzę prosto z szamotowego pieca typu neapolitańskiego, opalanego drewnem. W mobilnej pizzerii powstaje prawdziwa włoska pizza z najlepszymi składnikami. Ich sekretem jest ciasto na zakwasie, które przygotowują sami – od początku do końca. Ciasto naturalnie dojrzewa przez 48h i właśnie wtedy nabiera wyjątkowego smaku. 
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/gastro/happy-little-truck1.jpg">
              <img src="dist/img/gastro/happy-little-truck1.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/happy-little-truck2.jpg">
              <img src="dist/img/gastro/happy-little-truck2.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/happy-little-truck3.jpg">
              <img src="dist/img/gastro/happy-little-truck3.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/happy-little-truck4.jpg">
              <img src="dist/img/gastro/happy-little-truck4.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/happy-little-truck5.jpg">
              <img src="dist/img/gastro/happy-little-truck5.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/happy-little-truck6.jpg">
              <img src="dist/img/gastro/happy-little-truck6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>