<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/gastro">Gastro</a> > Osiem Misek</span>

    	<h1>Osiem Misek</h1>

    	<!-- <h2>
    		<small>Premierowe danie festiwalowe</small>
    		<br/>
    		Kanapka Madness!
    		<p>Pieczywo takie siakie owakie, z tym i tamtym, ostre że chej, a pyszne, że ja cię kręcę</p>
    	</h2> -->

    	<hr/>

    	<p><small>Jedzenie:</small> food truck, zdrowa żywność</p>
      <p><small>Www:</small> <a target="_blank" href="http://www.osiemmisek.pl/"> http://www.osiemmisek.pl/</a>
    	<p><a target="_blank" href="http://facebook.com/osiemmisek"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / osiemmisek</a></p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		W ośmiu miskach rządzą Monika i Adam, pasjonaci zdrowego i smacznego gotowania z wieloletnim doświadczeniem i paroma oparzeniami. Stawiają na zdrowe jedzenie, świadomie dobierane składniki, zawsze sezonowe produkty i co bardzo ważne - nieodgrzewane potrawy. We wszystkim, co wychodzi z kuchni ośmiu misek czuć miłość do gotowania. 
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/gastro/osiem-misek1.jpg">
              <img src="dist/img/gastro/osiem-misek1.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/osiem-misek2.jpg">
              <img src="dist/img/gastro/osiem-misek2.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/osiem-misek3.jpg">
              <img src="dist/img/gastro/osiem-misek3.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/osiem-misek4.jpg">
              <img src="dist/img/gastro/osiem-misek4.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/osiem-misek5.jpg">
              <img src="dist/img/gastro/osiem-misek5.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/osiem-misek6.jpg">
              <img src="dist/img/gastro/osiem-misek6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>