<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/gastro">Gastro</a> > Pasibus</span>

    	<h1>Pasibus</h1>

    	<!-- <h2>
    		<small>Premierowe danie festiwalowe</small>
    		<br/>
    		Kanapka Madness!
    		<p>Pieczywo takie siakie owakie, z tym i tamtym, ostre że chej, a pyszne, że ja cię kręcę</p>
    	</h2> -->

    	<hr/>

    	<p><small>Jedzenie: </small>bar, food truck, burgery</p>
      <p><small>Www: </small> <a target="_blank" href="http://www.pasibus.pl">http://www.pasibus.pl</a>
    	<p><a target="_blank" href="http://facebook.com/pasibus"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / pasibus</a></p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		Street ArtFood - tu rządzą burgery, burgery i jeszcze raz burgery! Tylko 100% wołowiny. Ich burgerowe propozycje a także pomysłowe finger food trafią w gusta niejednego Pasibrzucha. Dziś Pasibus to aż trzy miejscówki – stacjonarne Przystanek i Stacja oraz food truck w stałym miejscu pod wrocławskimi Arkadami. Wszędzie świetne jedzenie i zgrana ekipa Pasiziomków!
    	</p>
    </div>

    <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/gastro/pasibus1.jpg">
              <img src="dist/img/gastro/pasibus1.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/pasibus2.jpg">
              <img src="dist/img/gastro/pasibus2.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/pasibus3.jpg">
              <img src="dist/img/gastro/pasibus3.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/pasibus4.jpg">
              <img src="dist/img/gastro/pasibus4.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/pasibus5.jpg">
              <img src="dist/img/gastro/pasibus5.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/pasibus6.jpg">
              <img src="dist/img/gastro/pasibus6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div>
</div>