<div ng-controller="SingleTemplateCtrl">
    <div class="single single-1 col-lg-6">

    	<span class="breadcrumb"><a href="/{{ lang }}/gastro">Gastro</a> > Zaklęte Rewiry</span>

    	<h1>Zaklęte Rewiry</h1>

    	<!-- <h2>
    		<small>Premierowe danie festiwalowe</small>
    		<br/>
    		Kanapka Madness!
    		<p>Pieczywo takie siakie owakie, z tym i tamtym, ostre że chej, a pyszne, że ja cię kręcę</p>
    	</h2> -->

    	<hr/>

    	<p><small>Jedzenie:</small> bar</p>
    	<p><a target="_blank" href="http://facebook.com/zztopwroclaw"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / zztopwroclaw</a></p>
    	<br/>
    	<p><small>Opis:</small>
    		<br/>
    		Zaklęte Rewiry o niezwykłej historii - schyłku XIX wieku był to prężnie działający browar, założony w 1858 roku przez Eduarda Haase. W 1896 roku właścicielem browaru, w swoim czasie największego browaru wschodnich Niemiec, został Georg Haase – browarnik i przedsiębiorca wrocławski, wizjoner rozwoju uzdrowisk i turystyki. 1200m2 przestrzeni, kilka tysięcy metrów klimatycznych korytarzy.
    	</p>
    </div>

    <!-- <div class="single single-2 col-lg-6">

      <div class="gallery">
        <figure>
          <a href="dist/img/gastro/zz-top1.jpg">
              <img src="dist/img/gastro/zz-top1.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/zz-top2.jpg">
              <img src="dist/img/gastro/zz-top2.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/zz-top3.jpg">
              <img src="dist/img/gastro/zz-top3.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/zz-top4.jpg">
              <img src="dist/img/gastro/zz-top4.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/zz-top5.jpg">
              <img src="dist/img/gastro/zz-top5.jpg" alt="" />
          </a>
        </figure>
       	<figure>
          <a href="dist/img/gastro/zz-top6.jpg">
              <img src="dist/img/gastro/zz-top6.jpg" alt="" />
          </a>
        </figure>
      </div>
    </div> -->
</div>