<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Baird Beer</span>

		<h1>Baird Beer</h1>

		<!-- <h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			Stolarz - Brown Ale Sour
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			BARD - IPA
		</h2> -->

		<hr/>

		<!-- <p><small>Lokalizacja:</small> Wrocław</p>
		<p><small>Data założenia:</small> 30.12.2014 r.</p> -->
		<p><small>Www: </small> <a href="http://bairdbeer.com/">http://bairdbeer.com/</a></p>
		<p><a target="_blank" href="https://www.facebook.com/Baird-Beer-117149904968230/"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / Baird-Beer-117149904968230</a></p>
		<!-- <p><small>Krok milowy:</small>
			<br/>
			Naszym największym krokiem milowym było ... uruchomienie browaru.
		</p>
		<br/> -->
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/baird-beer-label-1.jpg">
			<img src="dist/img/breweries/baird-beer-label-2.jpg">
			<img src="dist/img/breweries/baird-beer-label-3.jpg">
			<img src="dist/img/breweries/baird-beer-label-4.jpg">
			<img src="dist/img/breweries/baird-beer-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Baird Beer to niezwykłe doświadczenie smaku - drobiazgowa staranność, pasja i szacunek dla tradycji. Warzą piwa, które nie są nudne i nie boją się, że ich propozycje nie przypadną do gustu wszystkim. W swojej pracy kierują się formułą Bilans + Złożoność = Charakter. Ich celem jest warzenie takich piw, które gwarantują eksplozję smaku i aromatu. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/baird-beer1.jpg">
	          <img src="dist/img/breweries/baird-beer1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/baird-beer2.jpg">
	          <img src="dist/img/breweries/baird-beer2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/baird-beer3.jpg">
	          <img src="dist/img/breweries/baird-beer3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/baird-beer4.jpg">
	          <img src="dist/img/breweries/baird-beer4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/baird-beer5.jpg">
	          <img src="dist/img/breweries/baird-beer5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/baird-beer6.jpg">
	          <img src="dist/img/breweries/baird-beer6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>