<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Beer Bros.</span>

		<h1>Beer Bros.</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Żyrardów</p>
		<p><small>Data założenia:</small> 2015 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://beerbros.pl">http://beerbros.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Naszym największym krokiem milowym było ... uruchomienie browaru.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/beer-bros-label-1.jpg">
			<img src="dist/img/breweries/beer-bros-label-2.jpg">
			<img src="dist/img/breweries/beer-bros-label-3.jpg">
			<img src="dist/img/breweries/beer-bros-label-4.jpg">
			<img src="dist/img/breweries/beer-bros-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Mikrobowar Beer Bros mieści się w zabytkowych, XIX w. budynkach zakładów lniarskich w Żyrardowie. Cały sprzęt wykonany został według projektu założycieli. Jak sami twierdzą, warzą tylko takie piwa, które uważają za najlepsze, a robienie piwa po prostu sprawia im frajdę. Wykorzystują wyłącznie własne receptury, które powstają na podstawie wieloletniego doświadczenia w piwowarstwie domowym.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/beer-bros1.jpg">
	          <img src="dist/img/breweries/beer-bros1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/beer-bros2.jpg">
	          <img src="dist/img/breweries/beer-bros2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/beer-bros3.jpg">
	          <img src="dist/img/breweries/beer-bros3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/beer-bros4.jpg">
	          <img src="dist/img/breweries/beer-bros4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/beer-bros5.jpg">
	          <img src="dist/img/breweries/beer-bros5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/beer-bros6.jpg">
	          <img src="dist/img/breweries/beer-bros6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>