<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > BIRBANT</span>

		<h1>Browar BIRBANT</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Zielona Góra</p>
		<p><small>Data założenia:</small> 2013 r.</p>
		<p><small>Www: </small><a target="_blank" href="www.browarbirbant.pl">www.browarbirbant.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Krok milowy jeszcze przed nami...musi urywać...
			Pracujemy nad idealnym aromatem AIPA, a Hopsbant robi robotę.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/birbant-label-1.jpg">
			<img src="dist/img/breweries/birbant-label-2.jpg">
			<img src="dist/img/breweries/birbant-label-3.jpg">
			<img src="dist/img/breweries/birbant-label-4.jpg">
			<img src="dist/img/breweries/birbant-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar BIRBANT to Jarek i Krzysiek (Kuli), piwowarzy i pasjonaci piwa. Jarek jest profesjonalnym piwowarem, a rzemiosła uczył się w kilku browarach. Kuli w 2003 roku zaczynał jako piwowar domowy i przez 10 lat ugotował dziesiątki warek. Jego piwa były wielokrotnie nagradzane w konkursach piwowarskich. Od kilku lat wspólnie opracowują autorskie receptury, od 2013 roku pod szyldem browaru BRIRBANT. Ich celem jest tworzenie piw o nietuzinkowym aromacie i wyrazistym smaku, które sami będą spożywać z przyjemnością.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/birbant1.jpg">
	          <img src="dist/img/breweries/birbant1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/birbant2.jpg">
	          <img src="dist/img/breweries/birbant2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/birbant3.jpg">
	          <img src="dist/img/breweries/birbant3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/birbant4.jpg">
	          <img src="dist/img/breweries/birbant4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/birbant5.jpg">
	          <img src="dist/img/breweries/birbant5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/birbant6.jpg">
	          <img src="dist/img/breweries/birbant6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>