<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/beers">Browary</a> > Profesja</span>

		<h1>Browar Profesja</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			Stolarz - Brown Ale Sour
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			BARD - IPA
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Wrocław</p>
		<p><small>Data założenia:</small> 30.12.2014 r.</p>
		<p><small>Www:</small> <a target="_blank" href="http://facebook.com/browarprofesja">fb.pl/browarprofesja</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Wciąż jesteśmy „raczkującym” Browarem, jednak z każdym dniem stawiamy coraz większe kroki. Zwycięstwo na BGM3 dało nam „pozytywnego kopa”, a rok 2016  będzie rokiem wyzwań, ciężkiej <br/> pracy i okazją do kolejnych kroków milowych.
		</p>
		<br/>
		<p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/beer-label-1.jpg">
			<img src="dist/img/beer-label-2.jpg">
			<img src="dist/img/beer-label-3.jpg">
			<img src="dist/img/beer-label-4.jpg">
			<img src="dist/img/beer-label-3.jpg">
		</p>
		<br/>
		<p><small>Opis:</small>
			<br/>
			Wciąż jesteśmy „raczkującym” Browarem, jednak z każdym dniem stawiamy coraz większe kroki. Zwycięstwo na BGM3 dało nam „pozytywnego kopa”, a rok 2016  będzie rokiem wyzwań, ciężkiej <br/> pracy i okazją do kolejnych kroków milowych.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/bfoto1.jpg">
	          <img src="dist/img/bfoto1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/bfoto2.jpg">
	          <img src="dist/img/bfoto2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/bfoto3.jpg">
	          <img src="dist/img/bfoto3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/bfoto4.jpg">
	          <img src="dist/img/bfoto4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/bfoto5.jpg">
	          <img src="dist/img/bfoto5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/bfoto6.jpg">
	          <img src="dist/img/bfoto6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>