<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Doctor Brew</span>

		<h1>Doctor Brew</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Wrocław</p>
		<p><small>Data założenia:</small> 2015 r.</p>
		<p><small>Www: </small><a target="_blank" href=" http://www.doctorbrew.pl">http://www.doctorbrew.pl</a></p>
		<!-- <p><small>Krok milowy:</small>
			<br/>
			Krokiem milowym było uwarzenie Russian Imperial Stout-u 24 Blg na
			warzelni restauracyjnej, którą wykorzystaliśmy do granic możliwości.
		</p>
		<br/> -->
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/doctor-brew-label-1.jpg">
			<img src="dist/img/breweries/doctor-brew-label-2.jpg">
			<img src="dist/img/breweries/doctor-brew-label-3.jpg">
			<img src="dist/img/breweries/doctor-brew-label-4.jpg">
			<img src="dist/img/breweries/doctor-brew-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Łukasz i Marcin zaczęli swoją przygodę z piwem od warzenia w domu. Niewinna zabawa warzenia piwa dla przyjaciół i rodziny przemieniła się w pasję tworzenia i odkrywania nowych gatunków piw. W wakacje 2013 roku uwarzyli piwo, którego smak i aromat przekroczyły ich najśmielsze oczekiwania. Postanowili wtedy bezkompromisowo zająć się swoją pasją. Wszystkie piwa z browaru są intensywnie chmielone nowofalowymi odmianami chmielu. Wyróżniają się intensywnym aromatem i wysoką goryczką. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/doctor-brew1.jpg">
	          <img src="dist/img/breweries/doctor-brew1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/doctor-brew2.jpg">
	          <img src="dist/img/breweries/doctor-brew2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/doctor-brew3.jpg">
	          <img src="dist/img/breweries/doctor-brew3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/doctor-brew4.jpg">
	          <img src="dist/img/breweries/doctor-brew4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/doctor-brew5.jpg">
	          <img src="dist/img/breweries/doctor-brew5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/doctor-brew6.jpg">
	          <img src="dist/img/breweries/doctor-brew6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>