<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Fabrica RARA</span>

		<h1>Fabrica RARA</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small>Cieszyn</p>
		<p><small>Data założenia: </small> 2015 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://fabricarara.com">http://fabricarara.com</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Jesteśmy małym i świeżym browarem. Każdy kolejny ruch na ścieżce ku
			lepszemu piwu jest dla nas Krokiem Milowym.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/fabrica-rara-label-1.jpg">
			<img src="dist/img/breweries/fabrica-rara-label-2.jpg">
			<img src="dist/img/breweries/fabrica-rara-label-3.jpg">
			<img src="dist/img/breweries/fabrica-rara-label-4.jpg">
			<img src="dist/img/breweries/fabrica-rara-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Zaczęło się od spotkania piwowarów domowych – Pawła i Michała z sensorykami skupionymi wokół cieszyńskiego “Święta Herbaty” oraz ludźmi z czeskiej branży piwnej. Wtedy powstał pomysł uwarzenia domowego piwa “herbacianego” na “Święto Herbaty 2014”. Powstały dwa różne piwa i pomysły na kilka kolejnych receptur. Dobra i owocna współpraca przerodziły się w prawdziwy browar. Jak mówią założyciele - od początku stawiają na najlepszą jakość i pijalność, bawią się też wysokogatunkowymi dodatkami, ale nie po to by szokować, ale wydobywać najlepsze smaki.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/fabrica-rara1.jpg">
	          <img src="dist/img/breweries/fabrica-rara1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/fabrica-rara2.jpg">
	          <img src="dist/img/breweries/fabrica-rara2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/fabrica-rara3.jpg">
	          <img src="dist/img/breweries/fabrica-rara3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/fabrica-rara4.jpg">
	          <img src="dist/img/breweries/fabrica-rara4.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>