<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Hopium</span>

		<h1>Hopium</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small>Wiskitki</p>
		<p><small>Data założenia: </small> 2015 r.</p>
		<p><small>Www: </small><a target="_blank" href="www.hopium.pl">www.hopium.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Dla nas, każdy kolejny dzień to przebyty jard, który w końcu staje się
			milą. Pośród tych kroków są te mniejsze, krótsze, ale zdarzają się też
			te większe, dłuższe. Takim krokiem bez wątpienia było uwarzenia
			pierwszego imperialnego piwa, pierwszy festiwal piwny czy pierwsza
			zdobyta przez nas nagroda.  Kroczymy więc na przód, pokonując kolejne
			stawiane sobie granice.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/hopium-label-1.jpg">
			<img src="dist/img/breweries/hopium-label-2.jpg">
			<img src="dist/img/breweries/hopium-label-3.jpg">
			<img src="dist/img/breweries/hopium-label-4.jpg">
			<img src="dist/img/breweries/hopium-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Hopium to browar rzemieślniczy znajdujący się w województwie Mazowieckim. Na jego siedzibę wybrany został pamiętający jeszcze czasy PRLu punkt skupu mleka, który po gruntownym remoncie otrzymał drugie życie. Celem browaru jest warzenie piw nietypowych. Eksperymentowanie z dodatkami i smakami jest w HOPIUM codziennością. Pijąc ich piwa przygotuj się na nowe, dotąd nie znane Ci doznania smakowe. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/hopium1.jpg">
	          <img src="dist/img/breweries/hopium1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopium2.jpg">
	          <img src="dist/img/breweries/hopium2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopium3.jpg">
	          <img src="dist/img/breweries/hopium3.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>