<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Hopkins</span>

		<h1>Browar Hopkins</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small>Gdynia</p>
		<p><small>Data założenia: </small>2015 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://www.browarhopkins.pl">http://www.browarhopkins.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Co do kroku milowego to takim jest na pewno używanie do naszych piw
			płatków-zrębków drzew owocowych(czereśnia,grusza,śliwa,jabłoń)
			macerowanych w różnych alkoholach(whisky,rum).
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/hopkins-label-1.jpg">
			<img src="dist/img/breweries/hopkins-label-2.jpg">
			<img src="dist/img/breweries/hopkins-label-3.jpg">
			<img src="dist/img/breweries/hopkins-label-4.jpg">
			<img src="dist/img/breweries/hopkins-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar Hopkins to oddani sprawie fascynaci, których piwna wyobraźnia nie zna granic. Nie boją się eksperymentować z piwnymi stylami, metodami warzenia, intrygującymi dodatkami i sposobami chmielenia. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/hopkins1.jpg">
	          <img src="dist/img/breweries/hopkins1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopkins2.jpg">
	          <img src="dist/img/breweries/hopkins2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopkins3.jpg">
	          <img src="dist/img/breweries/hopkins3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopkins4.jpg">
	          <img src="dist/img/breweries/hopkins4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopkins5.jpg">
	          <img src="dist/img/breweries/hopkins5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/hopkins6.jpg">
	          <img src="dist/img/breweries/hopkins6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>