<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Kraftwerk</span>

		<h1>Browar Kraftwerk</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Mikołów</p>
		<p><small>Data założenia:</small> 2014 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://browar-kraftwerk.pl">http://browar-kraftwerk.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Naszym największym, jak do tej pory, krokiem milowym, który do tej
			pory wykonaliśmy było uwarzenie naszej pierwszej warki Beboka w
			Browarze Majer. Dzięki niemu wszystko się zaczęło... A kolejny już
			przed nami…
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/kraftwerk-label-1.jpg">
			<img src="dist/img/breweries/kraftwerk-label-2.jpg">
			<img src="dist/img/breweries/kraftwerk-label-3.jpg">
			<img src="dist/img/breweries/kraftwerk-label-4.jpg">
			<img src="dist/img/breweries/kraftwerk-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Pierwszy browar kontraktowy na Górnym Śląsku cechujący się niekonwencjonalnym podejściem do sztuki piwowarskiej, za nic mający w sobie obecnie panujące trendy i mody w nowofalowym rzemiośle. Powstał z szacunku i pasji do słodu oraz chmielu. Motto- szkoda życia na kiepskie piwo.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/kraftwerk1.jpg">
	          <img src="dist/img/breweries/kraftwerk1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/kraftwerk2.jpg">
	          <img src="dist/img/breweries/kraftwerk2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/kraftwerk3.jpg">
	          <img src="dist/img/breweries/kraftwerk3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/kraftwerk4.jpg">
	          <img src="dist/img/breweries/kraftwerk4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/kraftwerk5.jpg">
	          <img src="dist/img/breweries/kraftwerk5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/kraftwerk6.jpg">
	          <img src="dist/img/breweries/kraftwerk6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>