<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Nepomucen</span>

		<h1>Nepomucen</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Szkaradowo</p>
		<p><small>Data założenia:</small> 2015 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://www.browar-nepomucen.pl">http://www.browar-nepomucen.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Największym dla nas krokiem milowym było dokończenie budowy i otwarcie
			browaru , a podczas działalności stawiamy raczej mniejsze ale równie
			ważne kroki stanowiące rozwój browaru takie jak zakupy kolejnych
			tanków i praca nad coraz lepszym piwem.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/nepomucen-label-1.jpg">
			<img src="dist/img/breweries/nepomucen-label-2.jpg">
			<img src="dist/img/breweries/nepomucen-label-3.jpg">
			<img src="dist/img/breweries/nepomucen-label-4.jpg">
			<img src="dist/img/breweries/nepomucen-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar Nepomucen został założony przez piwowarów domowych Jacka, Piotra i Mariusza. Browar znajduje się we wsi Szkaradów w samym sercu największego w Polsce parku krajobrazowego Dolina Baryczy, na granicy Wielkopolski i Dolnego Śląska. Powstał w ponad stuletnim budynku byłej piekarni i został wyposażony w sprzęt własnego pomysłu. Jak mówią założyciele - kochają piwa wędzone, mocno chmielone oraz takie, przy których można dłużej posiedzieć w pubie.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/nepomucen1.jpg">
	          <img src="dist/img/breweries/nepomucen1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/nepomucen2.jpg">
	          <img src="dist/img/breweries/nepomucen2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/nepomucen3.jpg">
	          <img src="dist/img/breweries/nepomucen3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/nepomucen4.jpg">
	          <img src="dist/img/breweries/nepomucen4.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>