<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > PINTA</span>

		<h1>Browar PINTA</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Żywiec</p>
		<p><small>Data założenia:</small> 28.03.2011r</p>
		<p><small>Www: </small> <a href="www.browarpinta.pl" target="_blank">www.browarpinta.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Otóż krok milowy dopiero przed PINTĄ.
			Za to w ciągu ostatnich 5 lat wykonaliśmy tysiące kroczków, z których
			najdłuższy to uwarzenie pierwszego piwa - Ataku Chmielu 28 marca 2011
			roku.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/pinta-label-1.jpg">
			<img src="dist/img/breweries/pinta-label-2.jpg">
			<img src="dist/img/breweries/pinta-label-3.jpg">
			<img src="dist/img/breweries/pinta-label-4.jpg">
			<img src="dist/img/breweries/pinta-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			PINTA to Grzesiek, Marek i Ziemek. Korzystają z doświadczeń, które przez lata zdobywali jako piwowarzy domowi, organizatorzy festiwali i konkursów piwa, autorzy artykułów i książek na temat piwowarstwa. Ich piwne propozycje można znaleźć w setkach lokali, sklepów, kawiarni czy hurtowni. Od czerwca 2014 również w firmowym pubie w centrum Krakowa - Viva la PINTA. Jako pierwsi w Polsce zaproponowali amerykańską wersję IPA - Atak Chmielu (2011). PINTA to również pierwszy polski browar, która wyjechał warzyć za granicę. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/pinta1.jpg">
	          <img src="dist/img/breweries/pinta1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/pinta2.jpg">
	          <img src="dist/img/breweries/pinta2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/pinta3.jpg">
	          <img src="dist/img/breweries/pinta3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/pinta4.jpg">
	          <img src="dist/img/breweries/pinta4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/pinta5.jpg">
	          <img src="dist/img/breweries/pinta5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/pinta6.jpg">
	          <img src="dist/img/breweries/pinta6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>