<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Piwoteka</span>

		<h1>Browar Piwoteka</h1>

		<!-- <h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			Stolarz - Brown Ale Sour
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			BARD - IPA
		</h2> -->

		<hr/>

		<!-- <p><small>Lokalizacja:</small> Wrocław</p>
		<p><small>Data założenia:</small> 30.12.2014 r.</p>
		<p><a target="_blank" href="http://facebook.com/browarprofesja"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / browarprofesja</a></p> -->
		<p><small>Krok milowy:</small>
			<br/>
			Przy działalności browaru, która trwa raptem 2 lata, z czego intensywnie dopiero
			1 rok trudno mówić o jakichś kamieniach milowych. Każde piwo to wyzwanie i coś
			nowego. Z każdym piwem docieramy do coraz większej ilości osób. Wciąż się uczymy
			i rozwijamy. A krok milowy jeszcze przed nami, oby nie jeden :)
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/piwoteka-label-1.jpg">
			<img src="dist/img/breweries/piwoteka-label-2.jpg">
			<img src="dist/img/breweries/piwoteka-label-3.jpg">
			<img src="dist/img/breweries/piwoteka-label-4.jpg">
			<img src="dist/img/breweries/piwoteka-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar Piwoteka to niewielki browar kontraktowy korzystający z usług radomskiej Pivovarii. Obok pubu Piwoteka Narodowa oraz sklepu piwnego (także internetowego) z bogatym asortymentem produktów z całego świata, browar jest kolejną formą działalności prowadzoną przez łódzkich miłośników piwa. Celem browaru jest warzenie ciekawych, eksperymentalnych piw w krótkich seriach. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/piwoteka1.jpg">
	          <img src="dist/img/breweries/piwoteka1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwoteka2.jpg">
	          <img src="dist/img/breweries/piwoteka2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwoteka3.jpg">
	          <img src="dist/img/breweries/piwoteka3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwoteka4.jpg">
	          <img src="dist/img/breweries/piwoteka4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwoteka5.jpg">
	          <img src="dist/img/breweries/piwoteka5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwoteka6.jpg">
	          <img src="dist/img/breweries/piwoteka6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>