<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Piwojad</span>

		<h1>Piwojad</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja:</small> Kraków</p>
		<p><small>Data założenia:</small> 2015 r.</p>
		<p><a target="_blank" href="http://facebook.com/piwojad"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / piwojad</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Jesteśmy młodym browarem kontraktowym, dla którego już pierwsza warka
			była wyzwaniem i dużym krokiem naprzód. Decyzja o rozpoczęciu
			działalności, znalezienie odpowiedniego miejsca do warzenia,
			przeskalowanie domowych przepisów, zwycięskie batalie w urzędach,
			zachowanie rozsądku przy degustacjach…Wreszcie debiut na Beer Geek
			Madness! Każdy kolejny krok jest krokiem milowym w realizacji naszych
			planów oraz marzeń i jesteśmy przekonani, iż to dopiero początek
			długiej i ekscytującej drogi.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/piwojad-label-1.jpg">
			<img src="dist/img/breweries/piwojad-label-2.jpg">
			<img src="dist/img/breweries/piwojad-label-3.jpg">
			<img src="dist/img/breweries/piwojad-label-4.jpg">
			<img src="dist/img/breweries/piwojad-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar kontraktowy z Krakowa, który swoją działalność rozpoczął na początku 2016 roku. Swoje pierwsze piwo uwarzył w Szczyrzyckim Browarze Cystersów „Gryf”, z dodatkiem Suski Sechlońskiej, produktu regionalnego ze znakiem “Chronione Pochodzenie Geograficzne” Unii Europejskiej. Suska to śliwka węgierka wędzona drewnem bukowym na południu Małopolski. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/piwojad1.jpg">
	          <img src="dist/img/breweries/piwojad1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwojad2.jpg">
	          <img src="dist/img/breweries/piwojad2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwojad3.jpg">
	          <img src="dist/img/breweries/piwojad3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/piwojad4.jpg">
	          <img src="dist/img/breweries/piwojad4.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>