<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Reden</span>

		<h1>Browar Reden</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small> Świętochłowice</p>
		<p><small>Data założenia: </small> 24.07.2014 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://www.browar-reden.pl">http://www.browar-reden.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			jako krok milowy w naszym browarze uważamy użycie jako pierwsi w kraju
			płynnych drożdży wyhodowanych w Polsce przez firmę Fermentum Mobile.
			Drożdży FM-41 użyliśmy do uwarzenia piwa "Polska Pszenica", która tym
			samym została pierwszym piwem pszenicznym uwarzonym w 100% z polskich
			składników.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/reden-label-1.jpg">
			<img src="dist/img/breweries/reden-label-2.jpg">
			<img src="dist/img/breweries/reden-label-3.jpg">
			<img src="dist/img/breweries/reden-label-4.jpg">
			<img src="dist/img/breweries/reden-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar Rzemieślniczy usytuowany w samym sercu Górnego Śląska, który podąża za nowofalowym podejściem do warzenia piwa. Młodszy, ale większy brat Minibrowaru Reden w Chorzowie. Jak sami mówią fundamentem ich zespołu jest dobra atmosfera oraz brak zmian kadrowych. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/reden1.jpg">
	          <img src="dist/img/breweries/reden1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/reden2.jpg">
	          <img src="dist/img/breweries/reden2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/reden3.jpg">
	          <img src="dist/img/breweries/reden3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/reden4.jpg">
	          <img src="dist/img/breweries/reden4.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>