<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > ROCH</span>

		<h1>Browar ROCH</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small>Nowe Rochowice</p>
		<p><small>Data założenia: </small>09.2014 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://www.rochbrowar.pl">http://www.rochbrowar.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Kamieniem milowym było zdobycie przez browar złotego i srebrnego
			medalu w Poznaniu po 3 miesiącach działalności.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/roch-label-1.jpg">
			<img src="dist/img/breweries/roch-label-2.jpg">
			<img src="dist/img/breweries/roch-label-3.jpg">
			<img src="dist/img/breweries/roch-label-4.jpg">
			<img src="dist/img/breweries/roch-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Mały browar z dużym sercem do warzenia. Mieści się w Nowych Rochowicach na skraju malowniczych Gór Kaczawskich (okolice Kotliny Jeleniogórskiej). Browar powstał w miejscu byłej fabryki wapna, a piwo warzone jest w sąsiedztwie starych zabytkowych wapienników. 
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/roch1.jpg">
	          <img src="dist/img/breweries/roch1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/roch2.jpg">
	          <img src="dist/img/breweries/roch2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/roch3.jpg">
	          <img src="dist/img/breweries/roch3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/roch4.jpg">
	          <img src="dist/img/breweries/roch4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/roch5.jpg">
	          <img src="dist/img/breweries/roch5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/roch6.jpg">
	          <img src="dist/img/breweries/roch6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>