<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Stone Brewing Berlin</span>

		<h1>Stone Brewing Berlin</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<!-- <p><small>Lokalizacja:</small> Wrocław</p>
		<p><small>Data założenia:</small> 30.12.2014 r.</p> -->
		<p><small>Www: </small> <a href="http://www.stonebrewing.com/">http://www.stonebrewing.com/</a></p>
		<p><a target="_blank" href="http://facebook.com/StoneBrewingCo"><img class="facebook-icon" src="dist/img/facebook-icon.png"> / StoneBrewingCo</a></p>
		<!-- <p><small>Krok milowy:</small>
			<br/>
			Naszym największym krokiem milowym było ... uruchomienie browaru.
		</p>
		<br/> -->
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/stone-brewing-berlin-label-1.jpg">
			<img src="dist/img/breweries/stone-brewing-berlin-label-2.jpg">
			<img src="dist/img/breweries/stone-brewing-berlin-label-3.jpg">
			<img src="dist/img/breweries/stone-brewing-berlin-label-4.jpg">
			<img src="dist/img/breweries/stone-brewing-berlin-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Od lat Stone Brewing Co. nie mógł doczekać się chwili, kiedy zawita do Europy. Ten moment nadszedł w lipcu 2014 roku, kiedy oficjalnie ogłosili, że w Berlinie powstanie ich europejski dom. Na początku grudnia 2015 roku z berlińskich tanków popłynęły pierwsze piwa – ipa i american strong ale, na przekór Niemcom przyzwyczajonym do lekko chmielonych lagerów.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin1.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin2.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin3.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin4.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin5.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/stone-brewing-berlin6.jpg">
	          <img src="dist/img/breweries/stone-brewing-berlin6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>