<div ng-controller="SingleTemplateCtrl">
	<div class="single single-1 col-lg-6">

		<span class="breadcrumb"><a href="/{{ lang }}/breweries">Browary</a> > Szałpiw</span>

		<h1>Browar Szałpiw</h1>

		<h2>
			<small>Piwo premierowe BGM4</small>
			<br/>
			w trakcie warzenia
		</h2>

		<h2>
			<small>Piwo topowe na BGM</small>
			<br/>
			czeka na rozlanie - informacja niebawem
		</h2>

		<hr/>

		<p><small>Lokalizacja: </small>Poznań</p>
		<p><small>Data założenia: </small> 04.2013 r.</p>
		<p><small>Www: </small><a target="_blank" href="http://szalpiw.pl"> http://szalpiw.pl</a></p>
		<p><small>Krok milowy:</small>
			<br/>
			Dla nas krokiem milowym było uwarzenie piwa Duke of Flanders. To od niego zaczęliśmy na serio przygodę z kwaśnymi piwami, które w szczególności nas kręcą.
		</p>
		<br/>
		<!-- <p><small>Topowe piwa:</small>
			<br/>
			<img src="dist/img/breweries/szalpiw-label-1.jpg">
			<img src="dist/img/breweries/szalpiw-label-2.jpg">
			<img src="dist/img/breweries/szalpiw-label-3.jpg">
			<img src="dist/img/breweries/szalpiw-label-4.jpg">
			<img src="dist/img/breweries/szalpiw-label-3.jpg">
		</p>
		<br/> -->
		<p><small>Opis:</small>
			<br/>
			Browar Szałpiw to rodzinna pasja do piwa, która przerodziła się w browar kontraktowy. Nazwy większości piw browaru wywodzą się z gwary poznańskiej, którą starają się uchronić od zapomnienia. Jak sami mówią, piwo warzą z oddaniem i radością, które są poparte wiedzą i doświadczeniem. Ich inspiracją jest zarówno prostota jak i złożoność piw belgijskich, które uważają za najwyższy kunszt sztuki piwowarskiej.
		</p>
	</div>

	<div class="single single-2 col-lg-6">

	  <div class="gallery">
	    <figure>
	      <a href="dist/img/breweries/szalpiw1.jpg">
	          <img src="dist/img/breweries/szalpiw1.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/szalpiw2.jpg">
	          <img src="dist/img/breweries/szalpiw2.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/szalpiw3.jpg">
	          <img src="dist/img/breweries/szalpiw3.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/szalpiw4.jpg">
	          <img src="dist/img/breweries/szalpiw4.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/szalpiw5.jpg">
	          <img src="dist/img/breweries/szalpiw5.jpg" alt="" />
	      </a>
	    </figure>
	    <figure>
	      <a href="dist/img/breweries/szalpiw6.jpg">
	          <img src="dist/img/breweries/szalpiw6.jpg" alt="" />
	      </a>
	    </figure>

	  </div>
	</div>
</div>