@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/photoswipe/dist/photoswipe.css";
@import "../../bower_components/photoswipe/dist/default-skin/default-skin.css";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,600,400italic,600italic&subset=latin,latin-ext);

$red: #ef0000;
$dark-red: #ab0000;

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin transition($duration) {
	transition-duration: $duration; 
	-webkit-transition-duration: $duration; 
	-o-transition-duration: $duration; 
	-moz-transition-duration: $duration; 
	-ms-transition-duration: $duration; 
}

body{ 
	font-family: 'Titillium Web', sans-serif;

	&.home{
		background: #000000;
	}
}

.home{
	#container{
		margin-left: 220px;
	}
}

.btn-menu{
	display: none;
}

.facebook-icon{
	position: relative;
	top: -7px;
	margin: 0px 0;
}

.font-light{
	font-weight: 300 !important;
}

.font-semi-bold{
	font-weight: 600 !important;
}

.scroll-track {
	opacity:0;
    width: 10px;
    background: rgba(255, 255, 255, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.scroll-track:hover,
.scroll-track.dragging {
    background: #d9d9d9; 
    background: rgba(255, 255, 255, 0.15);
}

.scroll-handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.scroll-track:hover .scroll-handle,
.scroll-track.dragging .scroll-handle {
    width: 10px;
}

main{
	width:100%;
	margin:auto;
}

aside{ 
	font-size:13px;
	color:#ffffff;
	width:230px; 
	height:100%;
	background:#000000;
	vertical-align: top;
	display: inline-block;
	position: fixed;
	top:0; 
	z-index: 99;
	overflow-y:scroll; 

	.fb-icon{
		display: block;
		margin: 30px auto;
	}
}

.btn{
	background:$red;
	font-weight: 600;
	color:#ffffff;
	border-radius: 0;
	padding: inherit 15px;
	margin:5px 0;
	padding: 4px 21px;
}

.languages{ 
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 12px auto;
	font-weight: 600;

	li{
		display:inline;
		margin:0 8px;
		position: relative;

		a{
			color:#ffffff;
		}

		&:after{
			content:" ";
			display:block;
			position: absolute;
			right: -10px;
			top:4px;
			width:1px;
			height:14px;
			background: #ffffff;
		}

		&:nth-last-child(1) {
			&:after{
				display:none;
			}
		}

		&.current{
			&:before{
				content:" ";
				display: block;
				background: #ffffff;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				position: absolute;
				top:20px;
				left:50%;
				margin-left: -2.5px;
			}
		}
	}
}

.clear{
	clear: both;
}

.logo{
	margin:25px auto;
	display: block;
	position: relative;
}

.main-nav{
	ul{
		padding: 0 0 0 66px;
		font-size:16px;
		list-style-type: none;

		li{
			a{
				color:#a8a8a8;
				font-weight: 300; 
				position: relative; 
				display: inline-block;

				&:hover{ 
					color:#ffffff;
					text-decoration: none;
				} 

				&.highlight{
					color:$red;
					font-weight: 600;
				}

				&.current{ 
					color:#ffffff;
					font-weight: 600;

					&:before{
						content:" ";
						display: block;
						background: #ffffff;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						position: absolute;
						top:10px;
						left:-12px;
					}
				}

				b{
					font-weight: 600;
				}
			}
		}
	}
} 

.main-menu{
	position: relative;

	.menu-description{
		color:$red;
		font-size:14px;
		font-weight: 600;
		@include rotate(-90);
		left:-17px;
		top:83px;
		position: absolute;

		&:before{
			content:" ";
			width:20px;
			height:1px;
			display: block;
			background: $red;
			position: absolute;
			left: -25px;
			top:10px;
		}

		&:after{
			content:" ";
			width:20px;
			height:1px;
			display: block;
			background: $red;
			position: absolute;
			right: -25px;
			top:11px;
		}
	}
}

#container{
	background: #ffffff;
	max-width: 1119px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	margin-left: 230px
}

.tile{
	display: inline-block;
	vertical-align: top;
	padding:40px 17px 17px;
	width:180px;
	height:765px;
	float:left;
	opacity: 0;
	color:#000000;

	h1, h2{
		font-size:40px;
		font-weight: 200;
		line-height: 37px; 
	}

	p{
		font-size:19px;
		font-weight: 600;
		line-height: 16px;
	}

	.box{
		padding: 17px 22px 13px;
		border:2px solid #000000;
		font-weight: 600;

		p{
			line-height: 23px;
		}

		i{
			font-weight: 200;
		}
	}

	.full-date{
		margin-bottom:30px;
	}

	span{
		font-size:15px;
		float: right;
		margin:-32px 0 0;
	}
}

.tile-1{
	width:196px;
	background:#373737 url('../img/tile-1.jpg') no-repeat;
	
	span{
		color:#9b9b9b;
	}
}

.tile-2{
	width:196px;
	background:#9ea09d url('../img/tile-2.jpg') no-repeat;

	span{
		color:#9cb19f;
	}
}

.tile-3{
	width:195px;
	background:#888888 url('../img/tile-3.jpg') no-repeat;

	span{
		color:#808080;
	}
}

.tile-4{
	width:196px;
	background:#352c2d url('../img/tile-4.jpg') no-repeat;

	span{
		color:#9d8686;
	}
}

.col{
	opacity:0;
}

.flipInY, .fadeInLeft, .zoomInDown {
	opacity: 1;
}

.event-info{
	font-size:19px;
}

.text-bg{
	font-size:19px;
	background:#000000;
	color:#ffffff;
	padding: 5px 0;
	margin: 0 0 10px 0;
	text-align: center;

	&.small{
		font-size:15px;
		padding: 3px 0;
	}

}

.final{
	color:#000000;

	h1{
		font-size:40px;
		font-weight: 200;
		line-height: 37px; 

		b{
			font-weight: 300;
		}
	}

	.col{
		display: inline-block;
		vertical-align: top;
	}

	.col-left{
		width:510px;
		padding: 10px 20px 50px 40px;
	}

	.col-right{
		width:530px;  
		padding: 30px 0px 0 20px;
	}

	.btn{
		font-size: 19px;
		display: block;
		margin: auto;
		padding: 5px 14px;
	}

}

.wrap{
	display: block;
	text-align: center;

	.col-sm-3{
		padding: 0 15px 0 0;
		float: left;
		margin-bottom: 10px;

		&:nth-child(4n+1) {
			padding: 0;
		}
	}

	i{
		font-size:45px;
		font-weight: 300;
		position: relative;
		left: -2px;
		display: block;
	}

	span{
		font-weight: 200;
		font-size: 17px;
		line-height: 17px;
	}
}

.logotype{
	text-align: center;
	float: left;
	margin-bottom: 15px;
	height: 91px;
}

.single{
	padding:27px 8px 30px 42px;
	opacity: 0;

	.event-info{
		font-size:19px;
	}

	.text-bg{
		font-size:19px;
		font-weight: 300;
		background:#000000;
		color:#ffffff;
		padding: 5px 0;
		margin: 0 0 10px 0;

		b{
			font-weight: 600;
		}

		&.small{
			font-size:15px;
			padding: 3px 0;
		}
	}

	&.single-large-font-size{

		small{
			font-size: 18px;
		}

		p{
			font-size: 18px;
		}
	}

	&.animated{
		opacity:1;
	}

	.breadcrumb{
		background:transparent;
		font-size:12px;
		font-weight:700;
		color:#b0b0b0;
		padding: 0;
	}

	a{
		color:inherit;
	}

	h1{
		font-size:45.41px;
		font-weight: 200;
	}

	h2{
		color:$dark-red;
		font-weight:400;
		font-size: 20px;
	}

	small{
		color:#000000;
		font-size:15px;
		font-weight: 200;
	}

	hr{
		background:#cecfc3;
	}

	p{
		color:#000000;
		font-size:15px;
		font-weight:400;
		margin:3px 0;
		padding-right: 40px;

		img{
			margin: 10px 10px 0 0;

			&:nth-last-child(1) {
				margin: 10px 0 0 0;
			}
		}
	}

	b{
		font-weight:400;
	}

	.gallery{
		margin-top: 35px;

		figure{
			display:inline-block;
		}

		img{
			margin:5px;
			max-width: 220px;
			max-height: 220px;
		}
	}
}

.about{
	.single{

		.text-bg{
			text-align: left;
			font-weight: 600;
			width:170px;
			padding: 7px 0 7px 15px;
		}

		
		.for-media{
			h2{
				font-size:19.13px;
				color:#000000;
				margin:0;
				line-height: 19px;
				margin: 0 0 50px;

				i{
					font-size: 15.94px;
					font-weight: 200;
				}

				a{
					font-weight: 600;
				}
			}
		}

		.organizer{
			padding: 0 0 50px;

			h1{
				font-size:30px !important;
				font-weight: 500 !important;
				color: #000000;
				margin-top: 0;

				i{
					font-size: 25px;
					font-weight: 300;
				}
			}

			.col-left{
				width: 170px;
				margin-right: 25px;
				display: inline-block;
				vertical-align: top;
			}

			.col-right{
				width:245px;
				display: inline-block;
				vertical-align: top;

				p{
					padding: 0;
				}
			}
		}
	}
}

.plan, .about{
	.gallery{
		figure{
			width: 100%;
		}
		img{
			max-width: initial;
			max-height: initial;

			&.img-responsive{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.how-to-get{

	.single-2{
		padding-top:117px;
	}

	.map{
		width:450px;
		height:500px;
	}
}

.contact{
	
	.single-1{
		width:440px;
	}

	p{
		font-weight:200;
		font-size:15.94px;
	}

	.fb-page{
		width:440px;
		margin-top: 30px;
	}
}

.tile-section{
	padding:17px 17px 0;
	opacity:0;

	&.animated{
		opacity:1;
	}

	&-1{
		margin-top:70px;
	}

	h1{
		font-size:19.35px;
		font-weight: 200;
		color:#000000;
		margin-top: 0;
		margin-left: 252px;
		border-bottom: 1px solid #d5d5cb;
		max-width:465px;
		padding-bottom: 10px;
	}

	figure{
		display:inline-block;
		position: relative;
		width:227px;
		height: 226px;
		text-align: center;
		display: inline-block;
		overflow: hidden;
		margin:5px;

		.layer{
			width: 100%;
			height: 100%;
			background: rgba( 255, 255, 255, 0.74 );
			text-align: center;
			display: inline-block;
		    position: absolute;
			left: 0;
			top: 0;
			@include transition(.5s);
			z-index: 9;

			&:hover{
				opacity:0;
			}

			img{
				vertical-align: middle;
				width:127px;
				height:127px;
				margin-top:49px;
			}
		}

		figcaption{
			background:rgba( 0, 0, 0, 0.8 );
			font-size:14.5px;
			position: absolute;
			bottom: -35px;
			left:50%;
			width: 120px;
			text-align: center;
			margin-left: -60px;
			text-transform: uppercase;
			padding: 5px 16px;
			color: #ffffff;
			@include transition(.2s);
		}

		&:hover{	
			figcaption{
				bottom: 1px;
			}
		}
	}
}

.buy-ticket{

	.single{
		padding: 20px 0 0 25px;

		&-2{
			padding-bottom: 50px;
		}

		.plus{
			text-align: center;
			font-weight: 700;
			font-size:31.33px; 
			padding: 0;
			line-height: 40px;
			margin: -17px 0 0;
		}
	}

	.package{

		&.package-premium{
			.price{
				margin-top: 15px;
			}

			.item{
				left: -5px;
			}

			.row:nth-child(1){
				border-right: 0px solid transparent;
				margin-bottom: 45px;
			}
		}

		.row:nth-child(1){
			position: relative;
			border-right: 1px solid #c8c8c8;
			margin-bottom: 62px;
		}

		.col-lg-5{
			position: initial;
		}

		h2{
			color:$red;
			font-size:32px;
			font-weight: 600;
			line-height: 28px;
			margin: 0;

			&.premium{
				color:#e08900;
			}

			small{
				color:#000000;
				font-size:19px;
				font-weight: 600;
			}
		}

		span{
			font-size:15px;
			font-weight: 300;
			margin-bottom: 5px;
			display:inline-block;
		}
	}

	.event-info{
		margin:0 0 15px;
	}

	.glass-1{
		position: relative;
		top: 60px;
	}

	.price{
		padding: 0;
		margin-top: 100px;
		text-align: center;
		font-size:35px;
		font-style: italic;
		font-weight: 300;
		z-index: 999;

		small{
			font-size:15px;
		}

		.btn{
			margin-top:-8px;
			width:100%;
			background: $red;
			font-size:20px;
			font-weight: 600;
			padding: 6px 0;
			color:#ffffff;
			font-style: normal;

			&.premium{
				background: #e08900;
			}
		}
	}

	.item{
		margin: 5px 0;
		position: relative;
		left: 15px;

		.col-lg-6{
			padding-left: 5px;
			padding-right: 5px;
		}

		.col-lg-6:nth-child(1){
			text-align: right;
		}

		.col-lg-6:nth-child(2){
			text-align: left;
		}

		p{
			padding: 0 15px;
			font-size: 17px;
			font-weight: 300;
			line-height: 21px;

			&.title{
				padding: 45px 15px 0;
				margin: 0 0 12px 0;

				b{
					color: #e08900;
					font-weight: 600;
					font-size: 22.07px;
					margin-bottom: -30px;

					&.red{
						color:$red;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 980px) {
	
	.btn-menu{
		border:0;
		position:fixed;
		right:15px;
		top:10px;
		width:40px;
		height:40px;
		padding: 0;
		cursor: pointer; 
		background: transparent;
		z-index:99;
		display: block;

		img{
			max-width: 100%;
		}
	}

	aside{
		overflow: scroll;
		left:-230px;
	}

	.home{

		#container{
			margin-left:auto;
		}

		.tile{
			display: block;
			margin:auto;
			width:100%;
			height:165px;
			padding:20px;

			&:nth-child(1) {
				height:auto;
				padding: 40px 17px 17px;
			}

			span{
				margin-top:-10px;
			}
		}

		.tile-1{
			background: #373737 url('../img/rwd-tile-1.jpg') center center no-repeat;
		}

		.tile-2{
			background: #3a403b url('../img/rwd-tile-2.jpg') center center no-repeat;
		}

		.tile-3{
			background: #111111 url('../img/rwd-tile-3.jpg') center center no-repeat;
		}

		.tile-4{
			background: #342d2d url('../img/rwd-tile-4.jpg') center center no-repeat;
		}
	}

	#container{
		margin-left:auto;
		width:100%;
	}

	.single{
		padding: 27px 15px 30px 15px;
	}

	.final{
		.col{
			display: block;
			padding: 10px;
			margin: auto;
			width:auto;
			max-width: 780px;
		}
	}

	.single-beer{
		padding: 27px 30px 30px;
	}

	.gallery{
		text-align: center;
	}

	.tile-section{
		text-align: center;

		&-1{
			margin-top: 30px;
		}

		h1{
			margin:0 auto 10px;
		}
	}
}

@media screen and (max-width: 480px) {
	
	aside{
		.main-nav{
			ul{
				padding: 0 0 0 56px;	
			}
		}

		.main-menu{
			.menu-description{
				left: -27px;
			}
		}
	}

	.single{
		padding: 27px 10px 30px;
	}

	.tile-section{
		&-1{
			margin-top: 20px;
		}

		h1{
			text-align: left;
			max-width: 227px;	
		}
	}

	.buy-ticket{
		.col-lg-12{
			padding: 0;
		}

		.price{
			margin-top:initial;
			position: relative;
		}

		.glass-1, .glass-2{
			display: block;
			margin: -50px auto -40px;
			position: relative;
			left:-8px;
		}

		.glass-2{
			margin: 0 auto -40px;
		}

		.border-right{
			border-right: 0;
		}

		.item{
			left:0;

			.col-lg-6:nth-child(1){
				text-align: left;
			}

			.item-text{
				margin-bottom:20px;
			}

			figure{
				text-align: center;
			}
		}
	}

	.about{
		.single{
			.organizer{
				.col-right{
					width:100%;
					text-align: justify;
				}
			}
			.col-lg-6{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}